trigger:
- main

pool:
  vmImage: ubuntu-latest

variables:
- group: aks-dev

steps:
- checkout: self

- task: TerraformInstaller@1
  inputs:
    terraformVersion: '1.6.6'

- task: TerraformTaskV4@4
  displayName: Terraform Init
  inputs:
    provider: azurerm
    command: init
    environmentServiceNameAzureRM: azure-connection

- task: TerraformTaskV4@4
  displayName: Terraform Plan
  inputs:
    provider: azurerm
    command: plan
    environmentServiceNameAzureRM: azure-connection
  env:
    TF_VAR_aks_cluster_name: $(AKS_CLUSTER_NAME)
    TF_VAR_aks_resource_group: $(AKS_RESOURCE_GROUP)
    TF_VAR_datadog_api_key: $(DATADOG_API_KEY)

- task: TerraformTaskV4@4
  displayName: Terraform Apply
  inputs:
    provider: azurerm
    command: apply
    environmentServiceNameAzureRM: azure-connection
    args: "-auto-approve"
  env:
    TF_VAR_aks_cluster_name: $(AKS_CLUSTER_NAME)
    TF_VAR_aks_resource_group: $(AKS_RESOURCE_GROUP)
    TF_VAR_datadog_api_key: $(DATADOG_API_KEY)

