trigger:
  - main

pool:
  name: self-hosted-linux

variables:
  - group: datadog-aks-vars

steps:
  - checkout: self

  # Azure Login using Service Connection
  - task: AzureCLI@2
    displayName: Azure Login
    inputs:
      azureSubscription: azure-connection
      scriptType: bash
      scriptLocation: inlineScript
      inlineScript: |
        az account show

  # Terraform Init
  - bash: terraform init
    displayName: Terraform Init

  # Terraform Plan
  - bash: terraform plan
    displayName: Terraform Plan
    env:
      TF_VAR_aks_name: $(AKS_CLUSTER_NAME)
      TF_VAR_resource_group: $(AKS_RESOURCE_GROUP)
      TF_VAR_datadog_api_key: $(DATADOG_API_KEY)

  # Terraform Apply
  - bash: terraform apply -auto-approve
    displayName: Terraform Apply
    env:
      TF_VAR_aks_name: $(AKS_CLUSTER_NAME)
      TF_VAR_resource_group: $(AKS_RESOURCE_GROUP)
      TF_VAR_datadog_api_key: $(DATADOG_API_KEY)
