trigger:
- main

pool:
  name: self-hosted-linux

variables:
- group: datadog-aks-vars

steps:
- checkout: self

- task: AzureCLI@2
  displayName: Azure Login
  inputs:
    azureSubscription: azure-connection
    scriptType: bash
    scriptLocation: inlineScript
    inlineScript: |
      az account show

- script: terraform init
  displayName: Terraform Init

- script: terraform plan -input=false
  displayName: Terraform Plan
  env:
    TF_VAR_aks_cluster_name: $(AKS_CLUSTER_NAME)
    TF_VAR_resource_group: $(AKS_RESOURCE_GROUP)
    TF_VAR_datadog_api_key: $(DATADOG_API_KEY)

- script: terraform apply -input=false -auto-approve
  displayName: Terraform Apply
  env:
    TF_VAR_aks_cluster_name: $(AKS_CLUSTER_NAME)
    TF_VAR_resource_group: $(AKS_RESOURCE_GROUP)
    TF_VAR_datadog_api_key: $(DATADOG_API_KEY)

